<section>
  <div id="main" class="wrapper style1">
    <div class="container">
      <header class="major">
        <h2>Perfil Utilizador</h2>
      </header>
      <h3>Perfil</h3>
      <form method="post" action="#">
        <div class="row gtr-uniform gtr-50">
          <div class="col-6 col-12-xsmall">
            <input type="text" name="name" id="name" value="" placeholder="Nome utilizador" />
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="text" name="vat" id="vat" value="" placeholder="Nº Contribuinte" />
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="number" name="phone" id="phone" value="" placeholder="Telemóvel" />
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="email" name="email" id="email" value="" placeholder="Email" />
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="password" name="password" id="password" value="" placeholder="Nova Password" />
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="password" name="repeat-password" id="repeat-password" value="" placeholder="Repita Password" />
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="text" name="company" id="company" value="" placeholder="Empresa" />
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="text" name="postal-code" id="postal-code" value="" placeholder="Código postal" />
          </div>
          <div class="col-12">
            <textarea name="address" id="address" placeholder="Insira a sua morada" rows="6"></textarea>
          </div>
          <div class="col-12 col-12-medium">
            <input type="checkbox" id="inactive" name="inactive" [disabled]="isCheckboxDisabled" />
            <label for="inactive">utilizador ativo?</label>
          </div>
          <div class="col-12 col-12-medium">
            <input type="checkbox" id="human" name="human" />
            <label for="human">Sou um humano nao um robot</label>
          </div>
          <div class="col-12">
            <ul class="actions">
              <li><input type="reset" name="cancel" id="cancel" value="Cancelar" /></li>
              <li><input type="submit" name="update" id="update" value="Atualizar" class="primary" /></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>