<!-- Image -->
<section>
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>Galeria</h2>
            </header>
            <h4>Algumas das nossas obras</h4>
            <div class="box alt">
                <div class="row gtr-50 gtr-uniform">
                    <p><span class="image left"><img src="../../assets/img/pic08.jpg" alt="" /></span>Fringilla nisl.
                        Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum
                        ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
                        adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget.
                        tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Cras
                        aliquet accumsan curae accumsan arcu amet egestas placerat odio morbi mi adipiscing col morbi
                        felis faucibus in gravida sollicitudin interdum commodo. Ante aliquam vis iaculis accumsan lorem
                        ipsum dolor sit amet nullam. Cras aliquet accumsan curae accumsan arcu amet egestas placerat
                        odio morbi mi adipiscing col morbi felis faucibus in gravida sollicitudin interdum commodo. Ante
                        aliquam vis iaculis accumsan lorem ipsum dolor sit amet nullam.</p>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic02.jpg"
                                alt="" /></span></div>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic03.jpg"
                                alt="" /></span></div>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic04.jpg"
                                alt="" /></span></div>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic04.jpg"
                                alt="" /></span></div>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic02.jpg"
                                alt="" /></span></div>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic03.jpg"
                                alt="" /></span></div>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic03.jpg"
                                alt="" /></span></div>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic04.jpg"
                                alt="" /></span></div>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic02.jpg"
                                alt="" /></span></div>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic02.jpg"
                                alt="" /></span></div>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic03.jpg"
                                alt="" /></span></div>
                    <div class="col-4 col-6-xsmall"><span class="image fit"><img src="../../assets/img/pic04.jpg"
                                alt="" /></span></div>
                </div>
            </div>
        </div>
        <h4>Facil e rápido de marcar</h4>
        <p><span class="image right"><img src="../../assets/img/pic08.jpg" alt="" /></span>Fringilla nisl. Donec
            accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in
            faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
            Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis
            in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
            Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus
            euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat
            ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
            euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat
            ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Cras aliquet accumsan curae accumsan
            arcu amet egestas placerat odio morbi mi adipiscing col morbi felis faucibus in gravida sollicitudin
            interdum commodo. Ante aliquam vis iaculis accumsan lorem ipsum dolor sit amet nullam. Cras aliquet accumsan
            curae accumsan arcu amet egestas placerat odio morbi mi adipiscing col morbi felis faucibus in gravida
            sollicitudin interdum commodo. Ante aliquam vis iaculis accumsan lorem ipsum dolor sit amet nullam.</p>
    </div>
</section>